{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block myContent %}

    <h1>Profile</h1>

    <h2>Infos</h2>
    <table class="table">
        <tbody>
        <tr>
            <th>Duckname</th>
            <td>{{ duck.duckname }}</td>
            <th>Name</th>
            <td>{{ duck.firstname }}</td>
            <th>LastName</th>
            <td>{{ duck.lastname }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ duck.email }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('app_quack_index') }}">Back to home</a>

{% endblock %}
