{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block myContent %}
    {% if app.user %}

        <div class="container">
            <a href="{{ path('app_quack_new') }}" class="btn btn-dark">Create new Quack</a>
        </div>


            <div class="container-cards">
        {% for quack in quacks %}
                <div class="card" style="width: 18rem;">
                    {% if quack.picture %}
                        <img src="{{ asset('uploads/' ~ quack.picture) }}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ quack.content }}</h5>
                        <p class="card-text">{{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                        <a href="{{ path('app_duck_profile', {'quackId': quack.id}) }}"
                           class="btn btn-dark btn-sm">{{ quack.author.duckname }}</a>
                        <a href="{{ path('app_coincoin_new', {'quackId': quack.id}) }}" class="btn btn-success btn-sm">JeCouine</a>
                        {% if app.user == quack.author %}
                            <a href="{{ path('app_quack_show', {'id': quack.id}) }}"
                               class="btn btn-dark btn-sm">Show</a>
                            <a href="{{ path('app_quack_edit', {'id': quack.id}) }}"
                               class="btn btn btn-outline-warning btn-sm">Edit</a>
                        {% endif %}
                    </div>
                </div>

        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>

        {% endfor %}
            </div>
    {% else %}
        <div class="container">
            <p>Ducky: <q><i>Sur les réseaux comme sur l'étang, le calme cache souvent un remous profond...</i></q></p>
        </div>
    {% endif %}
{% endblock %}
